<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/trangchu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body ng-app="myApp">
<header>
  <nav class="navbar navTop navbar-expand-sm mb-0">
    <div class="container-fluid">
      <a class="navbar-brand text_logo px-2 mx-3" href="#"><b>HOUSE</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item px-5">
            <a class="nav-link" href="#">Giới thiệu</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="#">Bảo hành</a>
          </li>
          <li class="nav-item">
            <form class="d-flex mt-2">
              <input class="form-control" type="text" placeholder="Search" ng-model="t">
              <button class="btn bg-light border" type="button"><i class="fa fa-search"></i></button>
            </form>
          </li> 
          <li class="nav-item px-5">
            <a class="nav-link" href="DangNhap.html">Tài khoản</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="GioHang.html">Giỏ hàng<b class="text-danger" id="sl"></b></a>
          </li> 
          <li class="nav-item px-5">
            <a class="nav-link" href="LichSuMua.html">Đơn hàng</a>
          </li>   
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navBottom navbar-expand-sm mb-0">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-5" href="#" role="button" data-bs-toggle="dropdown">Tất cả danh mục</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="SanPham.html">Lò nướng</a></li>
            <li><a class="dropdown-item" href="#">Điện thoại</a></li>
            <li><a class="dropdown-item" href="#">Tivi</a></li>
            <li><a class="dropdown-item" href="#">Tủ lạnh</a></li>
            <li><a class="dropdown-item" href="#">Hỗ trợ</a></li>
            <li><a class="dropdown-item" href="#">Liên hệ</a></li>
          </ul>
        </li>
        <li><a class="nav-link" href=""></a></li>
        <li class="nav-item px-5">
          <a class="nav-link" href="SanPham.html">Lò nướng</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link" href="#">Điện thoại</a>
        </li>      
        <li class="nav-item px-5">
          <a class="nav-link" href="#">Tivi</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link" href="#">Tủ lạnh</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link" href="#">Máy giặt</a>
        </li>
        
      </ul>  
  </nav>
  
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/crs2.png" alt="" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="img/crs1.png" alt="" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev text-primary" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

  <div class="bannerText bg-light">
    <div class="container bg-light">
      <div class="row" ng-controller="myCtrl">
        <div class="col-sm-4 py-3" ng-repeat="text in Text">
          <b>{{text.title}}</b>
          <p>{{text.noidung}}</p>
        </div>       
      </div>
    </div>
  </div>
</header>

    <div class="container mt-3">

      <div class="tieude py-3"><h3><b>SẢN PHẨM MỚI</b></h3></div>       
        <section class="row"  ng-controller="myCtrl1">         
          <div class="col-sm-3" ng-repeat="sp in SanPhamMoi | filter:t">
            <div class="card">             
              <img class="card-img-top" src="{{sp.hinh}}" alt="Card image">
              <div class="card-body">
                <h3 class="card-title">{{sp.tensp}}</h3>
                <p class="card-text"><b>{{sp.gia}}</b></p>
                <a href="#" class="btn btn-primary">Xem sản phẩm</a>
              </div>
            </div> 
          </div>
        <section>

        <div class="ctthuonghieu mt-5"><img src="img/thuonghieu.png" alt=""><b>CHUYÊN TRANG THƯƠNG HIỆU</b></div>
        <section class="row mb-5" ng-controller="myCtrl2">         
          <div class="col-sm-4" ng-repeat="th in ChuyenTrangThuongHieu">           
              <div class="thuonghieu">
                <img class="card-img-top" src="{{th.hinh}}" alt="Card image">
              </div>           
          </div>
        </section>
    
        <div class="tieude mb-2 py-3"><h3><b>SẢN PHẨM BÁN CHẠY</b></h3></div>
        <section class="row" ng-controller="myCtrl3">
          <div class="col-sm-4 mb-4" ng-repeat="bc in BanChay">
            <div class="card">
                <img class="card-img-top" src="{{bc.hinh}}" alt="Card image">
                <div class="card-body">
                  <h3 class="card-title">{{bc.tensp}}</h3>
                  <p class="card-text"><b>{{bc.gia}}</b></p>
                  <a href="ChiTietSP.html" class="btn btn-primary">Xem sản phẩm</a>
                </div>
              </div>          
          </div>            
        </section>

        <div class="tieude mt-1 py-3"><h3><b>TIVI GIẢM GIÁ SỐC</b></h3></div>
        <section class="row mb-5" ng-controller="myCtrl4">
          <div class="col-sm-6" ng-repeat="tv in TiVi">
            <div class="card">
              <img class="card-img-top" src="{{tv.hinh}}" alt="Card image">
              <div class="card-body">
                <h3 class="card-title">{{tv.tensp}}</h3>
                <p class="card-text"><b>{{tv.gia}}</b></p>
                <a href="#" class="btn btn-primary">Xem sản phẩm</a>
              </div>
            </div> 
          </div>        
        </section>

     <div class="danhmuc"> <img src="img/dmsp.png" alt=""> <b>DANH MỤC SẢN PHẨM</b></div>
        <div class="danhmucsp container">              
            <div class="d-flex" ng-controller="myCtrl5">
                <div class="flex-fill" ng-repeat="dm in DanhMuc">
                    <div class="over"></div>
                    <img src="{{dm.hinh}}" alt="">
                    <h4>{{dm.tensp}}</h4>
                </div>                
            </div>     
        </div>
    

    <section class="row mt-5">
      <div class="text-center" mb-3>
        <h3>ĐĂNG KÝ NHẬN ƯU ĐÃI</h3>
        <p>Mỗi ngày chúng tôi đều gửi đến khách hàng của mình những tin tức thú vị, những ưu đãi hấp dẫn</p>
      </div>
      
      <ul class="nav justify-content-center mt-2">
        <li class="nav-item">
          <input type="password" class="form-control" id="pwd" placeholder="Nhập email nhận ưu đãi">
        </li>
        <li class="nav-item px-2">
          <button type="submit" class="btn btnEmail text-light">ĐĂNG KÝ</button>
        </li>       
      </ul>
    </section>

  </div>
    
    <footer>
      <div class="container mt-5">
        <div class="row" ng-controller="myCtrl6">
          <div class="col-sm-3 p-4" ng-repeat="ft in Footer">           
            <h5><b>{{ft.title}}</b></h5>
              <p>{{ft.nd1}}</p>
              <p>{{ft.nd2}}</p>
              <p>{{ft.nd3}}</p>             
           </div>           
          </div>
        </div>
      </div>
    </footer>   

</body>
</html>

<script src="js/index.js"></script>
